article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

section {
	height: 100vh;
}

/* ---------- PANEL ONE ---------- */
.panel1 {
	background-color: gainsboro;
	margin:0;
	padding:0;
}

.panel1text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

h2 {
	margin:0;
}


/* ---------- PANEL TWO ---------- */

.panel2 {
	background-color: mediumturquoise;
	margin:0;
	padding:0;
	width:300%;
	/*display: inline;*/
}

.scroll-effect-button {
	position: absolute;
	float:left;
	top:150%;
}
.scroll-effect-button.prev {
	display:none;
}

.panelWrapper {
	position: relative;
	display: inline;
	width: 100%;
	margin: 0;
	padding: 0;
}

.panelContainer1 {
	width: 32%;
	display: inline-block;
	border: 3px solid green;
	height:100%;
	margin:0;
	padding: 0;
	margin-left: 1%;
}

.panelContainer2 {
	width: 32%;
	display: inline-block;
	border: 3px solid red;
	height:100%;
	margin:0;
	padding: 0;
	margin-left: 1%;
	left:32%;
}

.panelContainer3 {
	width: 32%;
	display: inline-block;
	border: 3px solid yellow;
	height:100%;
	margin:0;
	padding: 0;
	margin-left: 1%;
	left:64%;
}


/*.pageOne {
	position: relative;
	top:50%;
}

.pageTwo {
	position: relative;
	top:50%;
}*/

.arrows {
	position: relative;
	top:50%;
	z-index: 99999;
}

​#left {
	left:0;
}

#right {
	left:31%;
	float:right;
}

p {
	margin:0;
	color: white;
	font-size: 50px;
}

.panel-container {
	position: absolute;
	display: none;
}

.panel-container:first-child {
	display: block;
}

/* ---------- PANEL THREE ---------- */

	
.panel3 {
	background-color: ghostwhite;
}

.topRowImage {
	width: 100%;
	margin:0 auto;
}

.imageBox1,.imageBox2,.imageBox3,.imageBox4,.imageBox5,.imageBox6 {
	width:33%;
	display: inline-block;
	text-align: center;
	margin:2% 0;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}


/* ---------- PANEL FOUR ---------- */

.panel4 {
	background-color: #262322;
}